<!DOCTYPE html>

<html>
    <head>
        <title>All Concepts</title>
        <%- include('../partials/head'); %>
    </head>

    <body class="container-fluid">

        <header>
            <%- include('../partials/header'); %>
        </header>

        <h1>All Concepts</h1>
        <ul>
            <% for(let concept of aws){ %>
                <li><a href="/<%= concept._id %>"><%= concept.concept %> - <%=  concept.keywords %></a></li>
            <% } %>
        </ul>
        <a href="/new">Add New Concept</a>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>