<!DOCTYPE html>

<html>
    <head>
        <title><%= awsOne.concept %></title>
        <%- include('../partials/head'); %>
    </head>
    <body>

        <header>
            <%- include('../partials/header'); %>
        </header>
    <div class="container">

        <h1><%= awsOne.concept %></h1>
        <div class="col-sm aws-box">
        <ul>
            <li>Description: <%= awsOne.description %></li>
            <li>Keywords: <%= awsOne.keywords %></li>
            <li>Domain: <a href="/?domain=<%= awsOne.domain %>"><%= awsOne.domain %></a></li>
        </ul>
        <div class="aws-box-nav">
        <a href="/<%= awsOne._id %>/edit">Edit User</a>
        <a href="/">back to all users</a>
        </div>
        </div>

    </div>
    </body>
</html>


<div class="row">
    <div class="col-sm aws-box">
      <h4><a href="/?domain=Cloud%20Concepts">Cloud Concepts</a></h4>
    </div>