<% layout('partials/boilerplate') %>
    <div class="container">

        <h1><%= awsOne.concept %></h1>
        <div class="col-sm aws-box-main">
        <ul>
            <br />
            <li>Description:</li>
            <li class="show-description"><%= awsOne.description %></li>
            <br />
            <li>Keywords:</li> 
            <li><%= awsOne.keywords %></li>
            <br />
            <li>Domain:</li>
            <li> <%= awsOne.domain %></li>
        </ul>
        </div>

        <div class="row">
            <div class="col-sm aws-box">
                <a href="/?domain=<%= awsOne.domain %>"><%= awsOne.domain %></a>
            </div>
            <div class="col-sm aws-box">
                <a href="/<%= awsOne._id %>/edit">Edit Concept</a>
            </div>
            <div class="col-sm aws-box">
                <a href="/">Back to all Concepts</a>
            </div>
        </div>
    </div>