<!DOCTYPE html>

<html>
    <head>
        <title><%= awsOne.concept %></title>
        <%- include('../partials/head'); %>
    </head>
    <body>

        <header>
            <%- include('../partials/header'); %>
        </header>

        <h1><%= awsOne.concept %></h1>
        <ul>
            <li>Description: <%= awsOne.description %></li>
            <li>Keywords: <%= awsOne.keywords %></li>
            <li>Domain: <a href="/?domain=<%= awsOne.domain %>"><%= awsOne.domain %></a></li>
        </ul>
        <a href="/<%= awsOne._id %>/edit">Edit User</a>
        <a href="/">back to all users</a>
    </body>
</html>