<% layout('partials/boilerplate') %>
    <div class="container">

        <h1><%= awsOne.concept %></h1>
        <div class="col-sm aws-box-main">
        <ul>
            <li>Description: <%= awsOne.description %></li>
            <li>Keywords: <%= awsOne.keywords %></li>
            <li>Domain: <%= awsOne.domain %></li>
        </ul>
        </div>

        <div class="row">
            <div class="col-sm aws-box">
                <a href="/?domain=<%= awsOne.domain %>"><%= awsOne.domain %></a>
            </div>
            <div class="col-sm aws-box">
                <a href="/<%= awsOne._id %>/edit">Edit Concept</a>
            </div>
            <div class="col-sm aws-box">
                <a href="/">Back to all Concepts</a>
            </div>
        </div>
    </div>